name: 'Terraform'

defaults:
  run:
    shell: bash
    working-directory: CHAP12/cert/
on:
  push:
    branches:
    - main
jobs:
  terraform:
    runs-on: ubuntu-latest
    name: Terraform
    environment: dev
    steps:

    - name: Checkout
      uses: actions/checkout@v3
    - uses: hashicorp/setup-terraform@v2
  with:
    terraform_version: 1.1.7
      - name: Terraform Init
      id: init
      run: terraform init

    - name: Terraform Plan
      id: plan
      run: terraform plan -input=false -no-color -out tf.plan

    - name: Terraform Apply
      run: terraform apply -input=false tf.plan

